@model Northwind.MVCWebUI.Models.ProductViewModel
@*
    mvc paged list kullanımı
    @using PagedList;
    @using PagedList.Mvc;
    @model IPagedList<Norhwind.Entities.Product>*@

@{
    ViewBag.Title = "Index";
}
@*<link href="~/Content/PagedList.css" rel="stylesheet" />*@
<div>
    @foreach (var item in Model.Products)
    {
        <div class="item">
            <h3>@item.ProductName</h3>
            <h3>@item.UnitPrice</h3>
        @using (Html.BeginForm("AddToCart", "Cart"))
        {
            @Html.Hidden("productId",item.ProductID)
            <input type="submit" value="Add to cart"/>
        }
        </div>
        <br />
    }

    @*
        mvc paged list kullanımı, sayfalama
        @Html.PagedListPager(Model,page=>Url.Action("Index",new {page}))*@
    <div class="pager">

        @Html.Pager(Model.PageInfo)
    </div>
</div>